<form #rideShareForm="ngForm">
  <div class="form-group">
    <label for="start">Starting Point</label>
    <input type="text" name="start" class="form-control" [(ngModel)]="model.start_address" required>
  </div>

  <div class="form-group">
    <label for="start">Destination</label>
    <input type="text" name="destination" class="form-control" [(ngModel)]="model.end_address" required>
  </div>

  <div class="form-group">
    <input type="submit" value="Lookup" class="btn btn-primary">
  </div>
</form>
{{model | json}}